
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:8px;
  color: black;
  font-family: "Courier New", Courier, monospace;
   background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
}
nav {
  background-color: white;
  border-radius: 20px;
}
nav,
a {
  padding: 10px;
  
}
.home-section{
  background-color: grey;
  align-items: center;
}
