* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto;
}
header {
  color: #0ea5e9;
  padding: 5px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
}
nav {
  background-color: white;
  border-radius: 20px;
}
nav,
a {
  padding: 10px;
}
.home-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  max-width: 900px;
  margin: 50px auto;
  background: #f9fafb;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.home-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
display: block;
}
.home-section p {
  /* width:50px; */
}
.home-section img {
  background-color: #0ea5e9;
  text-align: end;
}
.table-section{
  max-width: 500px;
  margin:20px auto;
  padding: 20px;
  border: #0ea5e9 2px solid;
  border-radius: 10px;
}
table{
  width: 100%;
  background: #ffffff;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
table caption{
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}
thead {
  background-color: #38bdf8;
  color: white;
}
th {
  padding: 12px;
  text-align: left;
}
td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
/* Form-style */
.form-sction {
  background-color:red;
  padding: 0px 20px;
}
form {
  background-color: white;
  margin: 0 auto;
  max-width: 500px;
  padding: 25px;
  border-radius: 12px;
}
.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f172a;
}
.row input {
  padding: 10px;
  background-color: antiquewhite;
}
.field {
  background-color: beige;
  display: flex;
  flex-direction: column;
  flex: 1;
}
label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #334155;
}
input,
textarea {
  padding: 10px;
  border: 1px solid #cbd5f5;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
input:focus,
textarea:focus {
  border-color: #38bdf8;
}
textarea {
  width: 100%;
  resize: none;
  margin-bottom: 15px;
}
.send-input {
  width: 100%;
  background-color: #38bdf8;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}
.send-input:hover {
  background-color: #0ea5e9;
}
/* footer-style */
footer {
  background-color: #0ea5e9;
  padding: 20px;
  color: white;
}
.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
