header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #38bdf8;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}
nav {
  background-color: white;
  border-radius: 20px;
}
nav,
a {
  padding: 10px;
}
